:root {
    --primary-color: #0D1936;
    --seconday-color: #535354;
    --background-color: #EFEFEF;
    --shadow-color: rgba(0,0,0,0.1);
    --white-color: #FFF;
    --black-color: #000;
    --input-border-color: #E3E4E6;
    --success: #4cc9f0;
    --info: #4895ef;
    --transition-3s: 0.3s;
    --link-hover: #142b63;
}

body {
    background-color: var(--background-color);
}

.above-content {
    display: flex;
}

.table2 table th {
    font-size: 15px;
    padding: 10px 10px;
}

.table2 table td {
    border: 1px solid var(--primary-color);
}

.table2 table th {
    border: 1px solid var(--white-color);
    background-color: var(--primary-color);
    color: var(--white-color);
}

.printing button {
    background-color: var(--primary-color);
    color: var(--white-color);
    padding: 10px;
    transition: var(--transition-3s);
    border-radius: 15px;
    border: none;
}

    .printing button:hover {
        background-color: var(--link-hover);
        transition: var(--transition-3s);
        cursor: pointer;
    }

.prnting {
    margin-left: auto;
    margin-right: 30px;
}

.above-content {
    display: flex;
    align-items: center;
    margin: 40px 10px;
    justify-content: space-between;
}

.above-head {
    font-size: 29px;
    font-weight: 900;
    color: var(--primary-color);
}

.table2 {
    margin-bottom: 70px;
    margin-right: 30px;
}

.subject-name {
    font-weight: bold;
    color: #0d1936;
    margin-bottom: 3px;
}

.teacher-name {
    color: #555;
    font-size: 13px;
    margin-bottom: 2px;
}

.class-name {
    color: #777;
    font-size: 12px;
    font-style: italic;
}

.selection {
    display: flex;
    gap: 70px;
    font-weight: 600;
}
