<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.boxicons.com/fonts/basic/boxicons.min.css"
          rel="stylesheet" />
    <link rel="stylesheet" href="~/css/dashboard.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />
    <title>Login</title>
</head>
<body>
    <div class="header">
        <div class="hamburger" id="hamburger">
            <div></div>
            <div></div>
            <div></div>
        </div>
        <div class="info">
            <p>Student Name</p>
            <p>2023-CS-Roll Number</p>
        </div>
    </div>
    <div class="main">
        <div class="side">
            <div class="side-items">
                <span class="side-head"><a asp-controller="Login" asp-action="dashboardS">Student Portal</a></span>
                <span><i class="fas fa-calendar-check"></i><a asp-controller="Attendance" asp-action="attendanceS">View Attendance</a></span>
                <span><i class="fas fa-chart-bar"></i><a asp-action="reportS" asp-controller="Report">Generate Report</a></span>
                <span><i class="fas fa-key"></i><a asp-controller="Password" asp-action="PasswordChangingS">Change Password</a></span>
                <span><i class="fas fa-table"></i><a asp-controller="Timetable" asp-action="ShowTimetableS">View Timetable</a></span>
                <span><i class="fas fa-table"></i><a asp-controller="Manage" asp-action="assignS">Register Courses</a></span>
                <span><i class="fa-solid fa-right-from-bracket"></i><a asp-controller="Login" asp-action="Logout">Logout</a></span>
            </div>
        </div>
        <div class="boxing">
            <div class="side-bar">
                <h1 class="side-heading">
                    <div class="spans">
                        <div>Password</div>
                        <div>Changing</div>
                    </div>
                </h1>
            </div>

            <div class="form-body">
                <div class="title">
                    <div class="heading">Updation</div>
                </div>
                <div class="form-login">
                    <form class="login-field" autocomplete="off">
                        <div class="input-box">
                            <input name="newPassword" id="password" required type="password" />
                            <label for="newPassword">New Password</label>
                            <i class="bx bx-lock icon"></i>
                        </div>

                        <div class="input-box">
                            <input id="confirmpassword" name="confirmPassword" name="password" required type="password" />
                            <label for="confirmPassword">Confirm Password</label>
                            <i class="bx bx-lock icon"></i>
                        </div>

                        <div class="input-box">
                            <button class="submit-btn" onclick="edit(event)">
                                <div class="text">Update Password</div>
                                <i class="bx bx-arrow-to-right-stroke"></i>
                            </button>
                        </div>
                    </form>
                    <div class="custom-alert" id="loginAlert" style="display:none">
                        <i class="fas fa-exclamation-circle"></i>
                        <span id="alertMessage"></span>
                        <button onclick="closeAlert()">×</button>
                    </div>
                </div>
            </div>
        </div>
</body>
<script>
    function showAlert(message, type = "danger") {
            const alertBox = document.getElementById("loginAlert");
            const alertMessage = document.getElementById("alertMessage");

            // reset classes
            alertBox.classList.remove("success");

            // apply success if needed
            if (type === "success") {
                alertBox.classList.add("success");
            }

            alertMessage.innerText = message;
            alertBox.style.display = "flex";

            setTimeout(() => {
                alertBox.style.display = "none";
            }, 4000);
        }

    function closeAlert() {
        document.getElementById("loginAlert").style.display = "none";
    }
</script>
<script>
    const hamburger = document.getElementById('hamburger');
    const sidebar = document.querySelector('.side');
    hamburger.addEventListener('click', () => {
      sidebar.classList.toggle('active');
      document.body.classList.toggle('sidebar-open');
    });
    async function edit() {
        event.preventDefault();
        var pas = document.getElementById("password").value;
        var confirm = document.getElementById("confirmpassword").value;

        if (pas !== confirm) {
            showAlert("The passwords do not match", "danger");
            return;
        }

        let response = await fetch("/Login/editing", {
            method: "POST",
            headers: { "Content-Type": "application/x-www-form-urlencoded" },
            body: "password=" + encodeURIComponent(confirm)
        });

        let data = await response.text();

        if (data === "Ok") {
            showAlert("Password Updated Successfully", "success");
        } else {
            showAlert("Password Not Updated", "danger");
        }
    }
</script>
</html>
